{% extends 'base.html' %}
{% block content %}

    <div style=" display: flex; align-items: center; justify-content: center;" class="login-box auth0-box before">
            <div>
                <h4>
                    El numero tiene problemas lo sentimos
                </h4>
                <h6>
                    No ha validado sus datos y son correctos.
                </h6>
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/' " style="text-align:center;"> 
                        Ir a pagina Principal
                </button>

                
            </div>
    </div>

{% endblock %}